<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> The date is <%=@time %> </h1>
    <h3> IT GOES ON AND ON AND ON AND OOONNNN</h3>
  </body>
</html>
