<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>I see the cat in a smoking room</title>
  </head>
  <body>

    <h1> Goodbye <%=@name%> </h1>
    <h3> SMELL OF WINE AND CHEAP PERFUME</h3>

  </body>
</html>
